<div th:fragment="menuFragment" id="menuContainer">
    <nav class="w-full flex items-center px-6 py-0.5 shadow-md gap-20 fixed z-10 bg-gray-100">
        <!-- Logo -->
        <div class="flex items-center space-x-2">
            <a th:href="@{/}"><span class="text-xl font-bold cursor-pointer">ComuniShop</span></a>
        </div>
        <!-- Ações principais -->
        <div class="flex items-center space-x-4">
            <a th:href="@{/oferecer-servicos}" class="flex items-center px-4 py-2 space-x-1 font-medium rounded-md hover:underline">
                Oferecer meus serviços
            </a>
            <a th:href="@{/explorar-servicos}" class="flex items-center px-4 py-2 space-x-1 font-medium rounded-md hover:underline">
                Explorar serviços e comércios
            </a>
        </div>
        <!-- Botão Login (chama o modal login) -->
        <div class="absolute right-6">
            <button data-modal-target="loginModal" data-modal-toggle="loginModal"
                    class="px-4 py-1 font-semibold text-white rounded-md bg-[--color-destaque] hover:bg-[--color-destaque2] transition">
                Login
            </button>
        </div>
    </nav>
</div>
