@import "tailwindcss";

:root {
    --color-destaque: #706258;
}

@layer base {
    body {
        @apply font-sans;
    }

    .font-sour {
        font-family: "Sour Gummy", sans-serif;
    }

    .font-alumni {
        font-family: "Alumni Sans Pinstripe", sans-serif;
    }
}