@import "tailwindcss";

@theme {
    --color-destaque: #3AAFA9;
    --color-destaque2: #2B7A78;
}

@layer base {
    body {
        @apply font-sans;
    }

    .font-sour {
        font-family: "Sour Gummy", sans-serif;
    }

    .font-alumni {
        font-family: "Alumni Sans Pinstripe", sans-serif;
    }

    .destaque {
        background-color: var(--color-destaque);
    }

    .bg-cor-destaque {
        background-color: var(--color-destaque);
    }
}