<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment('Página Inicial')">
</head>
<body class="bg-gray-100 text-gray-900">
    <div th:replace="fragments/menuIndex :: menuFragment"></div>
    <div th:replace="fragments/login :: loginFragment"></div>

    <div class="flex justify-start flex-col items-center w-[100vw] h-[90vh] relative top-2.5">
        <h1 class="text-4xl mt-6 font-sour">Facilitando sua vida, fortalecendo o bairro</h1>
        <h2 class="text-2xl font-light mb-4">Encontre, agende e apoie o comércio local</h2>

    </div>
</body>
</html>
